.dealerCardOne {
	width:300px;
	height:91px;
	position: fixed;
	top: 220px;
	left: 100px;
}

.playerCardOne {
	width:300px;
	height:91px;
	position: fixed;
	top: 380px;
	left: 100px;
}

.card{
	
}

.playerButtons{

}
