.dealerCardOne {
	width:300px;
	height:91px;
	position: fixed;
	top: 15%;
	left: 100px;
}

.playerCardOne {
	width:300px;
	height:91px;
	position: fixed;
	top: 35%;
	left: 100px;
}

.card{
	
}

.playerButtons{

}
